body.admin {
    form {
        .form-group {
            margin-bottom: 1rem;

            label {
                font-weight: bold;
                margin-bottom: 0.25rem;
            }
        }
    }

    table {
        .action-col {
            text-align: right;

            .btn {
                padding: 0.25rem 1rem;
            }
        }
    }
}
