{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="section-title">
                    {{ post.title }}
                </h1>

                <small>
                    Publié le {{ post.createdAt|date('d/m/Y H:i') }}
                </small>
            </div>

            <div class="col-12">
                {{ post.content|raw }}
            </div>
        </div>
    </div>
{% endblock %}
