{% extends 'Back/base.html.twig' %}

{% block title %}Edit AdministrativeArea{% endblock %}

{% block body %}
    <h1>
        Modifier
    </h1>
    <a href="{{ path('administrative_area_index') }}">
        Retour à la liste
    </a>

    {{ include('Back/crud/administrative_area/_form.html.twig', {'button_label': 'Modifier'}) }}
    {{ include('Back/crud/administrative_area/_delete_form.html.twig') }}
{% endblock %}
