<html lang="fr">
<body>
<style>
    .fade-in {
        opacity: 0;
        transition-duration: 1s;
    }
    .fade-in:hover {
        opacity: 1;
    }

</style>
<div>

    <div class="banner" role="banner">
        Promo sur tout le style à partir du 25/02/2021
    </div>
    <h1 lang="en">
        Hello, I'm a developper
    </h1>

{#    <button id="contact-btn">#}
{#        Contactez-nous#}
{#    </button>#}

{#    <a href="https://google.fr">#}
{#        Lien vers google.fr#}
{#    </a>#}

{#    <nav></nav>#}
{#    <header></header>#}
{#    <footer></footer>#}
{#    <section></section>#}
{#    <article></article>#}
{#    <address></address>#}
{#    <main></main>#}
{#    <aside></aside>#}

{#    <a href="#">PHP</a>#}
{#    <a href="#">CSS</a>#}
{#    <a href="#">HTML</a>#}

    <img src="clavier.png" alt="Clavier Ozone StrikePro MX RED">


    <article>
        <h1>Titre de mon article</h1>
        <h2>Mon premier thème</h2>
        <p class="fade-in">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam amet cupiditate delectus, dolore dolorum earum excepturi id laborum natus nisi non quas quos recusandae rem sit suscipit tenetur voluptates!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, commodi corporis dicta est eveniet, libero minima nihil nobis odit officia possimus quia quisquam, suscipit. Commodi doloremque dolorum et mollitia possimus. Aspernatur minus, totam. Explicabo iure nesciunt quibusdam recusandae rem? Ab cupiditate distinctio, eligendi explicabo iure laboriosam natus praesentium quae repellendus similique? Aliquam cupiditate dolor impedit, laborum pariatur voluptas. Accusamus ad alias aliquam asperiores aspernatur aut corporis, cum deleniti deserunt dicta, dolore earum eligendi explicabo facilis fuga fugiat fugit illo illum iusto magni maiores mollitia necessitatibus neque nostrum numquam pariatur provident quaerat quia quisquam recusandae repellendus sequi sint totam ullam ut velit voluptatum. Ab distinctio doloremque dolorum explicabo inventore libero magnam, nam odio quia suscipit. Asperiores consequuntur, cupiditate eaque eos excepturi facilis fugiat laboriosam, magni nesciunt nisi optio pariatur quia reprehenderit rerum sapiente sit tempora vero. Aliquid aperiam architecto assumenda blanditiis, commodi cumque ea eos ipsam laudantium maiores minima natus, perspiciatis, placeat quae quaerat quidem quis reiciendis rem reprehenderit sint vel voluptatem voluptatum! Ab accusamus aliquid dignissimos distinctio dolor earum eius, explicabo facilis laboriosam magni nesciunt non nostrum officiis porro possimus quaerat quasi quisquam recusandae rem repellat sed sint ullam unde vel voluptatum! Delectus eum exercitationem non provident repellat rerum tempore.
        </p>
    </article>

    <a href="#prev_page" aria-label="Page précédente" title="Page précédente">←</a>

</div>
</body>
</html>
