{% extends 'base.html.twig' %}

{% block title %}Je veux une PS5{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>
                    Etat de dispo PS5
                </h1>
            </div>
        </div>
    </div>
{% endblock %}
