<article class="default-card">
    <div class="image-container">
        <img src="{{ asset(post|post_image_path) }}" alt="">
    </div>

    <div class="default-card-body">
        <h1>
            {{ post.title }}
        </h1>

        <div class="content">
            {% if index is defined and index == 2 %}
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem deleniti earum incidunt iusto quibusdam quos reprehenderit sit totam velit voluptatem!
            {% else %}
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum illum maiores, minima tempore vel voluptas?
            {% endif %}
        </div>
    </div>

    <div class="read-more">
        <a href="#">
            Voir plus
        </a>
    </div>
</article>
