<article class="default-card">
    <div class="image-container">
        <img src="{{ asset(post|post_image_path) }}" alt="">
    </div>

    <div class="default-card-body">
        <h1>
            {{ post.title }}
        </h1>

        <div class="content">
            {{ post.excerpt }}
        </div>
    </div>

    <div class="read-more">
        <a href="{{ path('post_show', {'id': post.id}) }}">
            Voir plus
        </a>
    </div>
</article>
