{% extends 'Back/base.html.twig' %}

{% block title %}Edit LogUser{% endblock %}

{% block body %}
    <h1>Edit LogUser</h1>

    {{ include('Back/crud/log_user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('log_user_index') }}">back to list</a>

    {{ include('Back/crud/log_user/_delete_form.html.twig') }}
{% endblock %}
