{% extends 'base.html.twig' %}

{% block title %}Hello SecretEventController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="pop-title text-center mt-5 mb-5">
                    Notre actualité
                </h1>
            </div>
        </div>
        <div class="row" id="more-content-post">
            {% include 'Front/Partials/Async/Post/post-card-loop.html.twig' %}
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button class="btn btn-primary" id="more-posts-btn">
                    Voir plus
                </button>
            </div>
        </div>
    </div>
{% endblock %}
